#root {
  display: flex;
}



.open-sans-body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#title {
  padding-bottom: 0;
  padding-top: 0;
}

#navbar {
  background-color: #E9F1F7;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  min-height: 100vh;
  min-width: 200px;
  padding: 10px 20px;
  overflow-y: auto;
  text-align: center;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  border: #e3e3e4 solid 1px;
  background-color: #f5f5f5;
  position: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 1%;
}

ul li {
  margin-bottom: 10%;
  text-decoration: none;
  color: black;
  border-radius: 7%; /* Adjusted for visual aesthetics */
  transition: all 0.3s ease; /* Ensure transitions affect all properties smoothly */
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer; /* Makes it clear that the item is interactive */
  background-color: transparent; /* Starting background color */
  box-shadow: none; /* No shadow initially */
}

ul li:hover {
  background-color: #56a3e2; /* Blue color from the welcome screen */
  color: white; /* Text color changes to white for better contrast */
  padding-left: 10px; /* Slightly increase padding for a dynamic effect */
  padding-right: 10px; /* Synchronously with left padding */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transform: scale(1.05); /* Slightly enlarge on hover */
}


ul li a:hover {
  text-decoration: none;
  color: white;
}

ul li a {
  text-decoration: none;
  color: black;
}