.projectPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#title {
    margin-left: 20px;
}

#outlet {
    margin-left: 200px;
    height: auto;
    margin-right: 10px; 
}

.projectColumn {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    height: 100vh;
    width: 100vh;
    column-gap: 5%;
    margin-left: 40px;
     /* Responsive settings */
     @media (max-width: 1600px) {
        grid-template-columns: repeat(2, 1fr); 
        width: 120%;
        column-gap: 5%;
        row-gap: 5%;
    }

    @media (max-width: 1150px) {
        grid-template-columns: repeat(1, 1fr); 
        width: 100%;
        column-gap: 5%;
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr; 
        width: 100vw - 10px;
        height: auto; 
    }
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150%;
    height: 425px;
    max-width: 350px;  
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.projectCard:hover {
    transform: translateY(-10px);
}

.titleSection {
    align-self: flex-start;
    text-align: left;
    width: 100%;
}

.titleSection h1 {
    font-size: 1.5rem;
    color: #333;
}

.titleSection h3 {
    font-size: 1.1rem;
    color: #666;
}

.codeSection {
    
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.codeSection code {
    font-family: 'Courier New', monospace;
    color: #D6336C;
}

.descriptionSection p {
    text-align: center;
    padding: 5px 20px;
    font-size: 1rem;
    line-height: 1.4;
}

.projectCard a {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.projectCard a:hover {
    background-color: #0056b3;
}

/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

